@import "../../assets/variables.scss";

.button {
  // background: $secondary-color !important;
  color: $text-color !important;

  border-color: $darken-secondary-color !important;
  border-width: 2px !important;
  border-radius: 20px !important;
}

.button:hover {
  color: $darken-text-color !important;
  background: $darken-secondary-color !important;
}
