@import "../../assets/variables.scss";


.theme-button{
  color: $text-color !important;
  box-shadow: 0px 0px 2px $secondary-color;
  border-color: $darken-secondary-color !important;
}

.theme-button.MuiButton-contained {
  background: $secondary-color !important;
}

.theme-picker {
  width: 300px !important;
}