@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary-color: #221c35;
$secondary-color: #ad24fd;

$darken-secondary-color: darken($secondary-color, 15%);

$text-color: white;
$darken-text-color: darken($text-color, 15%);

$font-size: calc(10px + 2vmin);
$font-family: 'Montserrat', sans-serif;
